# Wallet Configs Related Configurations
export DSGD_DEPLOYER_PRIVATE_KEY=<insert_dsgd deployer private key here>
export PBM_DEPLOYER_PRIVATE_KEY=<insert_pbm deployer private key here>


# WEB3 Configs
export COIN_MARKET_API_KEY=<insert_coin_market_api_key_here>

export POLYGON_RPC_URL=<insert_polygon_rpc_here>
export POLYGONSCAN_API_KEY=<insert_polygonscan_api_key_here>

